<div class="addbatch-form-container container">
    
    <form class="batchdetail-form">
        
        <div class="batch-detail-table-wrp"> 
            <div style="width:100px">
                Batch ID<input type="text" ng-model = 'file.batch' class="form-control file-id-input" required>
            
            </div>
            <table class="table table-striped">
                <thead>
                    <th>File ID</th>
                    <th>File Name</th>
                    <th>Due Date</th>
                    <th>Notary</th>
                    <th>MHA</th>
                    <th>MEA</th>
                    <th>Consulate</th>
                    <th>Status</th>
                    <th>Remarks</th>
                </thead>
                <tbody>
                    <tr ng-repeat= 'file in files'>
                    
                        <td>
                            <div ng-show="viewArray[$index]"><input type="text" ng-model = 'file.id' class="form-control file-id-input" ng-show="modifyArray[$index]"></div>
                            <div ng-hide="modifyArray[$index]">{{file.id}}</div>
                        </td>
                        
                        <td>
                            <div ng-show="viewArray[$index]"><input type="text" ng-model = 'file.name' class="form-control file-name-input"></div>
                            <div ng-hide="modifyArray[$index]">{{file.name}}</div>
                        </td>
                        
                        <td>
                            <div ng-show="viewArray[$index]"><input type="text" ng-model = 'file.duedate' class="form-control file-name-input"></div>
                            <div ng-hide="modifyArray[$index]">{{file.duedate}}</div>
                        </td>
                        
                        <td><input type="checkbox" ng-disabled="true" ng-checked="file.notary" class="form-control"></td>
                        <td><input type="checkbox" ng-disabled="true" ng-checked="file.mha" class="form-control"></td>
                        
                        <td>
                            <div ng-show="viewArray[$index]"><input type="checkbox" ng-model = 'file.mea' class="form-control"></div>
                            <div ng-hide="modifyArray[$index]"><input type="checkbox" ng-disabled="true" ng-checked="file.mea" class="form-control"></div>                 
                        </td>
                        
                        <td>
                            
                            <div ng-show="viewArray[$index]">
                                <select class="form-control" class='consulate-type-select' ng-model = 'file.consulateType'>
                                    <option>None</option>
                                    <option>UAE Consulate(Mumbai)</option>
                                    <option>UAE Consulate(Delhi)</option>
                                    <option>Saudi Consulate(Delhi)</option>
                        
                                </select>
                            </div>
                            <div ng-hide="modifyArray[$index]">{{file.consulateType}}
                            </div>
                        </td>
                        <td>
                            
                            <div>
                                <select class="form-control" class='consulate-type-select' ng-model = 'file.status'>
                                    <option>10%</option>
                                    <option>20%</option>
                                    <option>50%</option>
                                    <option>100%</option>
                        
                                </select>
                            </div>
                        </td>
                       
                        <td>
                            <div ng-show="viewArray[$index]">
                                <input type="textbox" ng-model = 'file.remarks' class="form-control remarks-input">
                            </div>
                            <div ng-hide="modifyArray[$index]">{{file.remarks}}
                            </div>
                        </td>
                        <td>
                        <button ng-hide="viewArray[$index]" ng-click="modify(file)">Edit</button>
                        <button ng-show="modifyArray[$index]" ng-click="update(file)">Save</button>
                        <button ng-hide="viewArray[$index]" data-ng-click="removeRow($index)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
    
    </div>
        
        <button type="submit" class="btn btn-primary pull-right">Submit</button>
    </form>
</div>

