<body class='main-wrapper' ng-app='mainApp' ng-controller='main-controller'>
    <table style="width:100%">
        <tr ng-repeat="item in tableArray">
            <td>
                <input type="checkbox" ng-click="item.checked = !item.checked">
            </td>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
        </tr>
    </table>
    
    <button ng-click="buttonClick()">Done</button>
</body>
    
<script>
    var app = angular.module('mainApp', []);
    app.controller('main-controller', function ($scope) {
        $scope.tableArray = [{
            id: 1
            , name: "John"
            , checked: false
        }, {
            id: 2
            , name: "Appu"
            , checked: false
        }, {
            id: 3
            , name: "chachu"
            , checked: false
        }];
        
        $scope.buttonClick = function(){
            var selectedArray = [];
            for(var i=0; i<$scope.tableArray.length; i++){
                if($scope.tableArray[i].checked)
                selectedArray.push($scope.tableArray[i]);
            }
            console.log(selectedArray);
        }
    });
</script>