<div class="userHome container">
    <button class="btn btn-primary pull-right" ui-sref="addBatch">ADD FILES</button>
    <button class="btn btn-primary pull-right" ui-sref="login">Logout</button>
    
    <br>
    <h2>HI</h2>
    <br>
    <uib-tabset active="active">
    <uib-tab index="0" heading="Pending FIles">
        <table class="table table-striped">
                <thead>
                    <th nowrap="nowrap">Batch ID</th>
                    <th nowrap="nowrap">File ID</th>
                    <th nowrap="nowrap">File Name</th>
                    <th nowrap="nowrap">Due Date</th>
                    <th nowrap="nowrap">Notary</th>
                    <th>MHA</th>
                    <th>MEA</th>
                    <th>Consulate</th>
                    <th>Status</th>
                    <th>Remarks</th>
                </thead>
                <tbody>
                    <tr ng-repeat= 'file in currentFiles | filter: pending'>
                        <td>{{file.batch}}</td>
                        <td>{{file.id}}</td>
                        <td>{{file.name}}</td>
                        <td>{{file.duedate}}</td>
                        
                        <td><input type="checkbox" class="form-control" ng-checked="file.notary" ng-disabled="true"></td>
                        
                        <td><input type="checkbox" class="form-control" ng-checked="file.mha" ng-disabled="true"></td>
                        
                        <td><input type="checkbox" class="form-control" ng-checked="file.mea" ng-disabled="true"></td>
                        

                        <td>{{file.consulateType}}</td>
                        <td>{{file.status}}</td>
                        <td>{{file.remarks}}</td>
                        
                    </tr>
                </tbody>
            </table> 
        
        
        </uib-tab>
            <uib-tab index="1" heading="Saved FIles">
        <table class="table table-striped">
                <thead>
                    <th nowrap="nowrap">Batch ID</th>
                    <th nowrap="nowrap">File ID</th>
                    <th nowrap="nowrap">File Name</th>
                    <th nowrap="nowrap">Due Date</th>
                    <th nowrap="nowrap">Notary</th>
                    <th>MHA</th>
                    <th>MEA</th>
                    <th>Consulate</th>
                    <th>Remarks</th>
                </thead>
                <tbody>
                    <tr ng-repeat= 'file in currentFiles | filter: saved'>
                        <td>{{file.batch}}</td>
                        <td>{{file.id}}</td>
                        <td>{{file.name}}</td>
                        <td>{{file.duedate}}</td>
                        
                        <td><input type="checkbox" class="form-control" ng-checked="file.notary" ng-disabled="true"></td>
                        
                        <td><input type="checkbox" class="form-control" ng-checked="file.mha" ng-disabled="true"></td>
                        
                        <td><input type="checkbox" class="form-control" ng-checked="file.mea" ng-disabled="true"></td>
                        

                        <td>{{file.consulateType}}</td>
                        <td>{{file.remarks}}</td>
                        
                    </tr>
                </tbody>
            </table> 
        
        
        </uib-tab>
            <uib-tab index="2" heading="Recieved FIles">
        <table class="table table-striped">
                <thead>
                    <th nowrap="nowrap">Batch ID</th>
                    <th nowrap="nowrap">File ID</th>
                    <th nowrap="nowrap">File Name</th>
                    <th nowrap="nowrap">Due Date</th>
                    <th nowrap="nowrap">Notary</th>
                    <th>MHA</th>
                    <th>MEA</th>
                    <th>Consulate</th>
                    <th>Status</th>
                </thead>
                <tbody>
                    <tr ng-repeat= 'file in currentFiles | filter: received'>
                        <td>{{file.batch}}</td>
                        <td>{{file.id}}</td>
                        <td>{{file.name}}</td>
                        <td>{{file.duedate}}</td>
                        
                        <td><input type="checkbox" class="form-control" ng-checked="file.notary" ng-disabled="true"></td>
                        
                        <td><input type="checkbox" class="form-control" ng-checked="file.mha" ng-disabled="true"></td>
                        
                        <td><input type="checkbox" class="form-control" ng-checked="file.mea" ng-disabled="true"></td>
                        

                        <td>{{file.consulateType}}</td>
                        <td>{{file.status}}</td>
                          
                    </tr>
                </tbody>
            </table> 
        
        
        </uib-tab>
                        
    </uib-tabset>
    

</div>